@import 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&amp;family=Roboto:wght@100;300;400;500;700&amp;display=swap';

*,
*::after,
*::before {
	box-sizing: border-box
}

html {
	cursor: url(other/cursor.png), default
}

body {
	margin: 0;
	padding: 0;
	font-family: roboto, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	gap: 10px;
	background: no-repeat center center fixed;
	background-image: url(domain/assets/media/rain.html);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.card {
	background: rgba(60, 59, 59, .6);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .369);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .18);
	padding: 12px;
	width: 50%
}

.card-title {
	font-size: 12px;
	font-weight: thin;
	margin-bottom: 16px;
	font-family: monospace;
	opacity: .5
}

.user-profile {
	display: flex;
	gap: 1em
}

.Profile-pic {
	position: relative
}

#pfp {
	width: 128px;
	height: 128px;
	border-radius: 10%
}

#activity-dot {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	border: 2px solid rgba(60, 59, 59, .3)
}

#username {
	font-size: 28px;
	font-weight: 700
}

#status2,
#status {
	opacity: .5;
	transition: all .6s ease
}

.spotify-wrapper {
	display: flex;
	gap: 8px;
	width: 100%
}

.spotify-info {
	width: 100%
}

#album-cover {
	width: 128px;
	height: 128px;
	border-radius: 10%
}

#spotify-song {
	font-size: 24px;
	font-weight: 700
}

#spotify-artist {
	opacity: .5
}

.spotify-outerbar {
	margin-top: 5px;
	width: 100%;
	height: 6px;
	border-radius: 150px;
	background-color: #4a4a4a
}

#spotify-innerbar {
	height: 6px;
	border-radius: 150px;
	background-color: #fff
}

.spotify-time {
	margin-top: 2px;
	width: 100%;
	display: flex;
	justify-content: space-between
}

.heading {
	font-size: 45px;
	font-weight: 700
}

@media(max-width:820px) {
	.card {
		width: 98%
	}

	.heading {
		font-size: 30px
	}
}

ul,
li {
	padding: 0%;
	margin: 0;
	list-style: none
}

.connections {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 10px;
	margin-top: 5px
}

.connection-icon {
	height: 28px
}